@use "editor.scss";
@use "terminal.scss";
@use "loading.scss";
@use "controls.scss";
@use "themes.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: var(--fg-0);
  font-family: var(--font-ui);
  background: #909090;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-0);
}

.graph {
  width: 100%;
  height: 100%;
  background: var(--graph-bg);
}

.vscroll {
  height: 100%;
  overflow-y: scroll;
}

.flexCol{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.hSplit {
    :not( .styleOnly){
        cursor: col-resize;
    }
    height: 8px;
    min-height: 8px;
    max-height: 8px;
    background: var(--separator-bg);
    transition:
        background var(--dur-med) var(--ease-standard),
        box-shadow var(--dur-fast) var(--ease-standard);
}

.vSplit {
    :not( .styleOnly){
        cursor: col-resize;
    }
    width: 8px;
    min-width: 8px;
    max-width: 8px;
    background: var(--separator-bg);
    transition:
        background var(--dur-med) var(--ease-standard),
        box-shadow var(--dur-fast) var(--ease-standard);
}

.hSplit:hover:not(.styleOnly),
.vSplit:hover:not(.styleOnly) {
  background: var(--separator-hover);
}
