@use "editor.scss";
@use "terminal.scss";
@use "loading.scss";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #909090;
}

.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.graph {
    width: 100%;
    height: 100%;
    background: #111;
}

.vscroll {
    height: 100%;
    overflow-x: scroll;
}

.hSplit {
    cursor: row-resize;
    height: 8px;
    background: rgba(255, 255, 255, 0.06);
}

.vSplit {
    cursor: col-resize;
    width: 8px;
    background: rgba(255, 255, 255, 0.06);
}

.hSplit:hover,
.vSplit:hover {
    background: rgba(121, 192, 255, 0.25);
}